* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#user-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 500px);
}

.user {
    padding: 20px;
    margin: 10px;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #b8b8c3;
    box-shadow: 12px 22px 26px -6px rgba(35,35,35,0.59);
    -webkit-box-shadow: 12px 22px 26px -6px rgba(35,35,35,0.59);
    -moz-box-shadow: 12px 22px 26px -6px rgba(35,35,35,0.59);
    transition: transform 0.5s ease;
}

.user:hover {
    transform: scale(1.05); /* Збільшення на 20% */
}

div {
    text-align: center;
}

h2 {
    margin: 10px;
}

.button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    transition: transform 0.5s ease;
}

.button:hover {
    transform: scale(1.1); /* Збільшення на 20% */
}




